@import "../../config/style.config.scss";


.controlPanel{
    display: flex;
    flex-direction: column;

    width: 70%;
}

.container{
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}


.inputWrapper{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.input{
    width: 80%;
}

.button{
    width: 40%;
    outline: none;
    background-color: $vivid-burgundy;
    color: white;

    font-size: $font-size-small;
    font-family: ubuntu-regular;
    border: none;

    border-radius: 5px;
    padding: 10px 0;

    cursor: pointer;
}
.button:hover{
    filter: brightness(0.9)
}
.button:active{
    transform: translate(1px, 2px);
}

.shuffle{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: $claret;

    color: white;
    font-size: $font-size-small;
    font-family: ubuntu-regular;

    border-radius: 5px;
    padding: 10px 10px;

    cursor: pointer;
    gap: 10px;
}
.shuffle:hover{
    filter: brightness(0.9)
}
.shuffle:active{
    transform: translate(1px, 2px);
}
.shuffleImg{
    width: 16px;
    height: 16px;
    filter: invert(1);
}


